body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", serif;
    font-size:  200px;
    line-height: 1.5;
}
main h1 {
    font-size: 60px;
    background-color: rgb(120,30,60);
    color: #F2FFFC;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
h2 {
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
}
P{
    text-align: justify;
}
blockquote  {
    background-color: #D9ESE3;
    border: 0.6em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
}
a {
    text-decoration: none;
}